body{
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
    font-family: 'Alegreya Sans SC', sans-serif;
}

*:focus{
    border-style: solid;
    border-width: 2px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#logo {
    animation-duration: 5s;
    animation-name: fadein;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
      width: 50px;
    }
  
    to {
      opacity: 1;
      width: 425px;
    }
  }


nav{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#image1{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

#image2{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

#image3{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

#image4{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

#image5{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}


.card_big{
    flex-shrink: inherit;
}
.gallery{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

.card{
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    justify-content: space-around;
}

.card h3{
    background: #288088;
    border: solid 2px  #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (min-width: 850px) {

    #logo{
        display: block;
        /* align-items:flex-end; */
        margin-right: auto;
    }
    
    .nav_links{
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        margin-left: auto;
    }
    
      .card{
        display: flex;
        flex-basis: 250px;
        justify-content: space-between;
        /* margin: auto; */
      }
  }


  @media (prefers-reduced-motion: reduce) {
      #logo{
          animation: none;
      }
    /* CSS to disable motion goes here */
  }

  @media print { 
    body{
        background-image: none;
        background-color: #f1f1f1;
    }

    .nav_links{
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
    }

    .pricing{

        display: flex;
        align-items: flex-end;
        justify-content: space-around;
    }

    .gallery{
        visibility: hidden;
    }

    #gallery {
        visibility: hidden;
    }

   }